/* Calendar*/
#calendars table {
  background: #fff;
  border-collapse: collapse;
  float: left;
  font-size: 15px;
  margin: 0 6px 12px;
  -webkit-box-shadow: 0px 2px 6px #999;
}
  /* Month names */
  #calendars table caption {
    text-shadow: 0 0 0 #fff;
  }
  /* Cell sizes */
  #calendars thead th, #calendars tbody td {
    height: 18px;
    margin: 0;
    padding: 2px 1px;
    text-align: center;
    width: 20px;
  }
  /* Weekday letters */
  #calendars thead {
    background: #222;
    color: #eee;
  }
  /* Days */
  #calendars tbody {
    background: #fff;
  }
    #calendars tbody td {
      cursor: pointer;
    }
      /* Hover states not available in IE */
      #calendars tbody td.selectable:hover {
        background-color: #bbb;
      }
      #calendars tbody td.selected:hover, #calendars tbody td.stuck:hover {
        background-color: #e99a27;
      }
      /* Selected states */
      #calendars tbody td.selected {
        background-color: #ffb03b;
      }
      #calendars tbody td.stuck {
        background-color: #e99a27;
      }
      /* Range markers */
      #calendars tbody td.startrange, #calendars tbody td.endrange, #calendars tbody td.startendrange {
        cursor: col-resize;
      }
      #calendars tbody td.startrange {
        background-image: url(../images/start.png);
      }
      #calendars tbody td.endrange {
        background-image: url(../images/end.png);
      }
      #calendars tbody td.startendrange {
        background-image: url(../images/startend.png);
      }
      /* Today */
      #calendars tbody td.today {
        background-color: #468966;
        color: #eee;
      }
        #calendars tbody td.today_selected {
          background-color: #b64926;
        }
        #calendars tbody td.today_stuck {
          background-color: #8e2800;
        }
      /* Post/pre-month */
      #calendars tbody td.beyond {
        background-color: #aaa;
        background-image: none;
        color: #ccc;
      }
        #calendars tbody td.beyond_selected {
          background-color: #999;
        }
        #calendars tbody td.beyond_stuck {
          background-color: #888;
        }
      
      #calendars tbody td.unselectable {
        background-color: #ccc;
        cursor: normal;
      }
      /* Clear button */
      #calendars tbody td span.clear {
        color: transparent;
        display: block;
        height: 0;
        position: absolute;
        width: 0;
      }
        #calendars tbody td span.clear span {
          background-image: url(../images/closebox.png);
          cursor: pointer;
          display: block;
          height: 30px;
          left: -18px;
          position: relative;
          text-indent: -10000px;
          top: -18px;
          width: 30px;
        }
          #calendars tbody td span.clear span.active {
            background-image: url(../images/closebox_selected.png);
          }
#calendar_0 {
  clear: both;
}

/* Navigation */

#calendar_navigation {
  list-style-type: none;
  padding: 6px 136px;

  text-shadow: none;
}
  #calendar_navigation li {
    float: left;
    width: 20px;
    height: 20px;
  }
    #calendar_navigation a {
      display: block;
      padding: 1px 0 2px;
      text-align: center;
      text-decoration: none;

      -webkit-box-shadow: 0 1px 2px #999;
    }
      #calendar_navigation a.previous, #calendar_navigation a.next {
        background: #fff;
        color: #468966;
        display: block;
        text-align: center;
        text-decoration: none;
      }
        #calendar_navigation a.today {
          background-color: #468966;
          color: #eee;
        }
        #calendar_navigation a.today:hover {
          background: #246744;
        }
        #calendar_navigation a.today:active {
          background: #024522;
        }
        #calendar_navigation a.previous:hover, #calendar_navigation a.next:hover {
          background: #ccc;
        }
        #calendar_navigation a.previous:active, #calendar_navigation a.next:active {
          background: #aaa;
        }
      #calendar_navigation a.previous {
        -webkit-border-top-left-radius:     10px;
        -webkit-border-bottom-left-radius:  10px;
        -moz-border-radius-topleft:         11px;
        -moz-border-radius-bottomleft:      11px;
      }
      #calendar_navigation a.next {
        -webkit-border-top-right-radius:     10px;
        -webkit-border-bottom-right-radius:  10px;
        -moz-border-radius-topright:         11px;
        -moz-border-radius-bottomright:      11px;
      }

/* Form */

#calendar_form {
  clear: both;
}
  #calendar_form #labels label {
    font-weight: bold;
  }
  #calendar_form #fields span {
    background: #ccc;
    border-bottom: 1px solid #999;
    display: inline-block;
    padding: 0 4px;
    
    -webkit-box-shadow: 0 1px 1px #ccc;
  }
    #calendar_form #fields span input {
      border-style: none;
      background-color: transparent;
      font-size: 14px;
      padding: 2px 6px;
      width: 96px;
      
      -webkit-border-radius: 10px;
      -moz-border-radius: 11px;
    }
      #calendar_form #fields span input:focus {
        outline: none;
        background: #aaa;
      }
      #calendar_form #fields span input.error {
        background: #faa;
      }